{% extends 'layout.html' %}

{% block content %}

{% block styles%}
    <link href="/static/styles/catalog.css" rel="stylesheet">
{% endblock %}


<h2> Movie Catalog</h2>

<div class="catalog">

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

</div>

{% endblock %}

{% block scripts %}

{% load static %}
<script = src="{% static 'scripts/catalog.js' %} "></script>

{% endblock %}